<% if user_signed_in? %>
  
  	<div class="row">
  		<div class="col-12">
  			
  		</div>
  		<div class="col-12">
  			<h1><%= current_user.name %> </h1>
				<br>
					<%= link_to 'Create', new_image_path, :class => 'btn btn-light' %>
				<br>
  			<div>
  				<ul class="nav drop-down-div col-9">
  					<li class="margin-right col-3">
  						<p><strong><%= @images.count %></strong> publicaciones</p>
  					</li>
  					<li class="margin-right col-3">
  						<p><strong>300</strong> seguidores</p>
  					</li>
  					<li class="margin-right col-3">
  						<p><strong>250</strong> seguidos</p>
  					</li>
  					
  				</ul>
  			</div>
  		</div>
  	</div>
	<div class="row" id="images">
		<%= render @images[0] %>
	</div>

	<div class="row digg_pagination">
		<%= will_paginate @images %>
	</div>
<% else %>
  <h1>RailsGram</h1>
<% end %>